body {

	background: lightgray;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	background-repeat: repeat round;
}

header {
	margin-bottom: 10px;
	border-bottom: 2px solid white
}

.container {
	
	margin-top: 50px;
	text-align: center;
	height: 100%;
	width: 700px;
}
#image {
	margin: 25px;
}

h2 {
	font-family: 'Cabin', sans-serif;
}

#message {
	font-family: 'Cabin', sans-serif;
}

.btn-danger, .reset {
	
	color: white;
	font-family: 'Cabin', sans-serif;
	font-size: 30px;
	padding: 20px;
	margin-bottom: 50px;
	margin-top: 100px;
}

.btn-danger:hover, 
.reset:hover {
	background-color: lightcoral;
}

.thisChoice:hover {
	background-color: darkslateblue;
	opacity: 0.7;
	color: white;
	padding: 2px;
	border: 2px solid white;
}

